<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta
			content="width=device-width, initial-scale=1"
			name="viewport"
		/>
		<title>aframe-text-plane</title>
		<link
			href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
			rel="stylesheet"
		/>
		<link
			href="https://unpkg.com/@mdi/font@5/css/materialdesignicons.min.css"
			rel="stylesheet"
		/>
		<link
			href="https://unpkg.com/vuetify@2/dist/vuetify.min.css"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Arizonia|Berkshire+Swash|Cookie|Great+Vibes|Just+Another+Hand|Leckerli+One|Lobster+Two|Merienda+One|Oleo+Script|Pacifico"
			rel="stylesheet"
		>
		<style>
			[v-cloak] {
				display: none;
			}
		</style>
		<script src="https://unpkg.com/chance@1"></script>
		<script src="https://unpkg.com/chroma-js@2"></script>
		<script src="https://unpkg.com/vue@2"></script>
		<script src="https://unpkg.com/vuetify@2/dist/vuetify.min.js"></script>
		<script src="https://unpkg.com/vuetify-color-input@1"></script>
		<script src="https://unpkg.com/aframe@1"></script>
		<script src="https://unpkg.com/aframe-orbit-controls@1"></script>
		<script src="./index.js"></script>
	</head>
	<body>
		<v-app
			id="App"
			v-cloak
		>
			<v-navigation-drawer
				v-model="drawer"
				:width="384"
				app
			>
				<div
					class="pa-2"
					style="
						display: grid;
						gap: 16px;
					"
				>
					<v-textarea
						v-model="text"
						:rows="5"
						filled
						hide-details
						label="text"
					></v-textarea>
					<v-select
						v-model="fontFamily"
						:items="fontFamilyValues"
						append-outer-icon="mdi-shuffle"
						filled
						hide-details
						label="font family"
						@click:append-outer="randomizeFontFamily()"
					>
						<template v-slot:item="{item: fontFamily}">
							<span
								:style="{fontFamily}"
							>{{ fontFamily }}</span>
						</template>
					</v-select>
					<v-sheet
						class="pa-2"
						color="grey lighten-3"
						rounded
					>
						<div
							style="
								align-items: center;
								display: flex;
								justify-content: space-between;
							"
						>
							<div
								class="text--secondary"
							>font size</div>
							<v-chip
								small
							>{{ fontSizeDisplayString }}</v-chip>
						</div>
						<v-slider
							v-model="fontSizeIndex"
							:max="fontSizeValues.length - 1"
							:min="0"
							hide-details
							ticks
						></v-slider>
					</v-sheet>
					<v-color-input
						v-model="color"
						hide-details
						label="color"
					></v-color-input>
					<v-color-input
						v-model="strokeColor"
						hide-details
						label="stroke color"
					></v-color-input>
					<v-sheet
						class="pa-2"
						color="grey lighten-3"
						rounded
					>
						<div
							style="
								align-items: center;
								display: flex;
								justify-content: space-between;
							"
						>
							<div
								class="text--secondary"
							>stroke width</div>
							<v-chip
								small
							>{{ strokeWidthDisplayString }}</v-chip>
						</div>
						<v-slider
							v-model="strokeWidthIndex"
							:max="strokeWidthValues.length - 1"
							:min="0"
							hide-details
							ticks
						></v-slider>
					</v-sheet>
					<div>
						<div
							class="text--secondary"
						>alignment</div>
						<v-btn-toggle v-model="alignmentIndex" dense>
							<v-btn :value="0">
								<v-icon>mdi-format-align-left</v-icon>
							</v-btn>
							<v-btn :value="1">
								<v-icon>mdi-format-align-center</v-icon>
							</v-btn>
							<v-btn :value="2">
								<v-icon>mdi-format-align-right</v-icon>
							</v-btn>
						</v-btn-toggle>
					</div>
					<v-sheet
						class="pa-2"
						color="grey lighten-3"
						rounded
					>
						<div
							style="
								align-items: center;
								display: flex;
								justify-content: space-between;
							"
						>
							<div
								class="text--secondary"
							>line gap</div>
							<v-chip
								small
							>{{ lineGapDisplayString }}</v-chip>
						</div>
						<v-slider
							v-model="lineGapIndex"
							:max="lineGapValues.length - 1"
							:min="0"
							hide-details
							ticks
						></v-slider>
					</v-sheet>
					<v-sheet
						class="pa-2"
						color="grey lighten-3"
						rounded
					>
						<div
							style="
								align-items: center;
								display: flex;
								justify-content: space-between;
							"
						>
							<div
								class="text--secondary"
							>padding</div>
							<v-chip
								small
							>{{ paddingDisplayString }}</v-chip>
						</div>
						<v-slider
							v-model="paddingIndex"
							:max="paddingValues.length - 1"
							:min="0"
							hide-details
							ticks
						></v-slider>
					</v-sheet>
					<v-color-input
						v-model="backgroundColor"
						hide-details
						label="background color"
					></v-color-input>
				</div>
			</v-navigation-drawer>
			<v-app-bar
				app
				color="primary"
				dark
			>
				<v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
				<v-toolbar-title>aframe-text-plane</v-toolbar-title>
				<v-spacer></v-spacer>
				<v-btn
					href="https://github.com/SeregPie/aframe-text-plane"
					icon
					target="_blank"
				>
					<v-icon>mdi-github</v-icon>
				</v-btn>
			</v-app-bar>
			<v-main>
				<my-scene
					v-bind="{
						alignment,
						backgroundColor,
						color,
						fontFamily,
						fontSize,
						lineGap,
						padding,
						strokeColor,
						strokeWidth,
						text,
					}"
				></my-scene>
			</v-main>
		</v-app>
		<template id="VCustomSlider">
			<div>
				<div
					style="
						align-items: center;
						display: flex;
						justify-content: space-between;
					"
				>
					<div
						class="text--secondary"
					>{{ label }}</div>
					<v-chip small>
						<slot
							name="value"
						>{{ value }}</slot>
					</v-chip>
				</div>
				<v-slider
					v-model="value"
					:max="max"
					:min="min"
					hide-details
					ticks
				></v-slider>
			</div>
		</template>
		<template id="VIndexSlider">
			<v-custom-slider
				v-model="itemIndex"
				:label="label"
				:max="items.length - 1"
				:min="0"
			>
				<template v-slot:value>
					<slot
						name="value"
					>{{ itemValue }}</slot>
				</template>
			</v-custom-slider>
		</template>
		<script src="./demo/script.js"></script>
	</body>
</html>
